body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto;
    box-sizing: border-box;
    height: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card {
    max-width: 250px;
}
.card-image {
    max-width: 200px;
    border: 5px solid #3882f6;
    border-radius: 20px;
    height: 120px;
}
.header {
    display: flex;
    justify-content: space-around;
    max-width: 100vw;
    align-items: center;
    background-color: #1f2937;
}
ul {
    display: flex;
    gap: 40px;
}
a, li{
    text-decoration: none;
    list-style-type: none;
    color:white;
}
a {
    font-size: 24px;
    
}
.below-header {
    display: flex;
    max-width:100vw;
    justify-content: space-evenly;
    padding: 50px 0 100px 0;
    background-color: #1f2937;
    align-items: center;
    margin: 0 auto;
}
.below-text {
    flex-direction: column;
    max-width: 25vw;
    color: white;
}
.h1-about {
    margin: 10px 20px 0px 0px;
}
.below-text p {
    margin-top: 5px;
}
.below-header img {
   justify-content: start;
   max-width: 500px;
    
}
.below-text button {
    width: 5vw;
    height: 2vw;
    background-color: #3882f6;
    border-radius: 15px;
    color: white;
    border: 0px;
    cursor: pointer;
}
.main {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.cards {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 10px 0 20px 0;
}
.card {
    text-align: center;  
}
.main h2 {
    font-size: 36px;
    font-weight: bold;
    padding: 15px 0 50px 0;
}
.below-main {
    width: 100vw;
    padding: 40px 0 20px 0;
    height: auto;
    background-color: rgb(241, 241, 241);
    display: flex;
    justify-content: center;
}
.below-main-text {
    max-width: 40vw;
    font-size: 26px;
    font-weight: 300;
}
.below-main-text h4 {
    text-align: end;
    justify-content: center;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.before-footer {
    padding: 100px 0px 20px 0;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}
.blue-screen {
    display: flex;
    width: 40vw;
    gap: 30px;
    justify-content: center;
    background-color: #3882f6;
    height: 20vh;
    align-items: center;
}